<!-- templates/base.html -->
<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}MailRouter{% endblock %}</title> <!-- Utilización de block title para permitir que los templates hijos definan su propio título -->
        <!-- Tailwind via CDN (sin instalación)-->
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- Fuente monospace para código y números -->
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"/>
    </head>
    
    <body class="bg-gray-950 text-gray-200 min-h-screen">
        
        <!-- Mensajes flash (success/error) -->
        <div class="flash-container" id="flashContainer">
        {% with messages = get_flashed_messages(with_categories=true) %} <!-- El bloque With permite asignar el resultado de una expresión a una variable temporal -->
            {% for category, message in messages %} <!-- Iteramos sobre los mensajes flash obtenidos, cada mensaje es una tupla (category, message) -->
                <div class="flash-msg fixed top-4 right-4 z-50 px-4 py-3 rounded-lg text-sm font-medium
                    {% if category == 'success' %} bg-green-900 border border-green-700 text-green-300 {#Clase dinámica para mostrar el mensaje en color verde en caso de ser 'success'#}
                    {% else %} bg-red-900 border border-red-700 text-red-300 {% endif %}"> <!-- Si la categoría no es 'success', se aplican estilos para mostrar el mensaje en rojo -->
                    {{ message }} <!-- Mostramos el contenido del mensaje flash -->
                </div>
            {% endfor %}
        {% endwith %}
        </div>

        <!-- Templates hijos -->
        {% block body %} {% endblock %} <!-- Utilización de block body para permitir que los templates hijos definan su propio contenido principal -->

        <!-- Inclusión de un archivo JavaScript específico para el dashboard, utilizando url_for para generar la URL correcta -->
        <script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
        {% block extra_js %}{% endblock %} <!-- Utilización de block extra_js para permitir que los templates hijos incluyan scripts adicionales si es necesario -->
        
    </body>
</html>
